image_config: &image_config

  IMAGE_NAME: tinylog-ui

  IMAGE_TAG: latest

version: 2
jobs:

  build:
    machine: true

    environment:
      <<: *image_config
    
    steps:
      - checkout

      - run: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD

      - run: docker build -t $DOCKER_USERNAME/$IMAGE_NAME:$IMAGE_TAG .

      - run: docker push $DOCKER_USERNAME/$IMAGE_NAME:$IMAGE_TAG && sleep 10

      - store_artifacts:
          path: Dockerfile
