.content-header {
  margin: 0 16px;
  margin-top: 16px;
  padding: 0 16px;
  background: rgb(255, 255, 255);
}

.content-header h3 {
  height: 52px;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px; 
}